{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Developer Login
{% endblock %}

{% block content%}
    <div class="container" style="width: 33rem;">
        <form method="post" action="{{ url_for('dev.login') }}">
            <h2 style="color:green;"> Developer Login </h2>
            <p style="color:red;"> {{ error_msg }} </p>
            <dl>
                {{ wtf.quick_form(form) }}
                <input class="btn btn-success" type="submit" value="Log In">
            </dl>
        </form>

        <p style="color:gray;">
            <br>
            Don't have an account yet? <a href="{{ url_for('dev.register') }}">Register</a> now.
        </p>
    </div>
{% endblock %}
