<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <title>{{ element.name }}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="{{ url_for('site.form_list') }}">
            <img src="{{ url_for('site.static', filename='assets/arrow_back.svg') }}" width="30" height="30"
                 class="d-inline-block align-top" alt="">
        </a>
        <form method="post" class="form-inline" action="{{ url_for('site.form_edit', _id=element.id) }}" id="name-form">
            <div class="form-group mb-2">
                <label for="element-name" class="sr-only">Name</label>
                <input type="text" class="form-control-plaintext h5" id="element-name" value="{{ element.name }}" name="name">
            </div>
        </form>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Preview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Send</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Settings</a>
                </li>
            </ul>
        </div>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    <div class="card my-5 mx-auto" style="max-width: 50rem;">
        <div class="card-header">
            <ul class="nav justify-content-center nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Questions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Responses</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <form method="post" action="{{ url_for('site.form_edit', _id=element.id) }}" id="title-form">
                <div class="form-group mb-2">
                    <label for="element-name" class="sr-only">Title</label>
                    <input type="text" class="form-control-plaintext h3" id="element-title" value="{{ element.title }}"
                           name="title">
                    <label for="element-name" class="sr-only">Description</label>
                    <input type="text" class="form-control-plaintext" id="element-des" placeholder="Description..."
                           {% if element.description %} value="{{ element.description }}" {% endif %} name="description">
                </div>
            </form>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <script>
        $(function() {
            $("#element-name").change(function() {
                $("#name-form").submit();
            });
            $("#element-title").change(function() {
                $("#title-form").submit();
            });
            $("#element-des").change(function() {
                $("#title-form").submit();
            });
        });
    </script>

</body>
</html>

