.u-line-input {
    border-bottom: 1px #D5D8DC solid;
    margin-bottom: 11px;
    outline: none;
}

.u-line-input:focus {
    border-bottom: 2px green solid;
    margin-bottom: 10px;
}

/*-----------------------------------------------------------*/

.hu-line-input {
    margin-bottom: 1px;
    outline: none;
}

.hu-line-input:focus {
    border-bottom: 2px green solid;
    margin-bottom: 0px;
}

/*-----------------------------------------------------------*/

.no-sides {
    border-radius: 0;
    border-top: 1px solid rgba(0,0,0,0.125);
    border-right: none;
    border-bottom: none;
    border-left: 3px solid rgba(0,0,0,0);
}

/*-----------------------------------------------------------*/

.image-upload input{
    display: none;
}

.image-upload label{
    visibility:hidden;
}

/*-----------------------------------------------------------*/

.hide-choices select{
    visibility:hidden;
}

/*-----------------------------------------------------------*/

.cstm-btn{
    background: white;
    color: #252525;
}

.cstm-btn:hover{
    background: #DFFFBD;
}

.cstm-sub-btn:active{
    background: #5BA50B;
    color: white;
    outline: none;
}

/*-----------------------------------------------------------*/

.light-up:hover{
    border: 1px #5BA50B solid;
}

/*-----------------------------------------------------------*/

.icon-btn{
    background: rgba(0,0,0,0);
    border-radius: 50%;
}

.icon-btn img{
    margin: none;
    width: 25px;
    height: 25px;
}

.icon-btn:hover{
    background: #DFFFBD;
}

.icon-btn:focus{
    outline: none;
}

.icon-btn:active{
    background: #D5D8DC;
    outline: none;
}

/*-----------------------------toggle switch-----------------------------*/

.switch {
  position: relative;
  display: inline-block;
  width: 52px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #5BA50B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #5BA50B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

/*-----------------------------------------------------------*/
